DATABASE_URL="postgresql://postgres:j8FUKpsKDRjjuw2t@db.mhrkejroymytplmppjep.supabase.co:5432/postgres"
JWT_SECRET="eduslide_pro_super_secret_jwt_key_2025_change_this_in_production"
REFRESH_SECRET="eduslide_pro_refresh_secret_key_2025_change_this_in_production"
SMTP_HOST="smtp.zeptomail.in"
SMTP_PORT="587"
SMTP_USER="emailapikey"
SMTP_PASS="PHtE6r0ER73v3mN6+xkG4f6xFJLyYYx6/u1gKgdBt9lEX/8FSk1Wqoovwzbko0t4A/dLRvHPwIxqtbObsOnQIDnoMGgfDWqyqK3sx/VYSPOZsbq6x00ZuFkbdkDZV4Xodt9t3SLfvNbYNA=="
CLOUDINARY_CLOUD_NAME="dqno8l2q7"
CLOUDINARY_API_KEY="984979433682824"
CLOUDINARY_API_SECRET="x_dqDbLlcKGdGO5e-WQ25mZNBAo"
CLIENT_URL="http://localhost:5173"
PORT=5000
NODE_ENV="development"
